.container-search{
    margin-top: 20px;
    padding: 0 15px;
}
.search{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}
.radio{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}